@model IEnumerable<ShopClueWebApp.Models.Section>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">All Section Details</h1>
</div>
<p>
    <a asp-action="Create" class="button button-primary">Create New Section</a>
</p>
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionName)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SectionID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.SectionID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
